/* --- BIRTEK - BERRIAK --- */

.berriak-edukiontzia {
  text-align: center;
  margin-bottom: 4rem;
}

.berriak-titulua {
  font-size: 2.25rem;
  font-weight: 700;
  color: #166534;
  margin-bottom: 1.5rem;
  font-family: "Outfit", sans-serif;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 0 1rem;
  word-wrap: break-word; /*hitz bateko letrak filaz ez aldatzeko*/
}

@media (min-width: 768px) {
  .berriak-titulua {
    font-size: 3rem;
    padding: 0;
  }
}

.berriak-azpititulua {
  font-size: 1.25rem;
  color: #4b5563;
  max-width: 800px;
  margin: 0 auto;
  line-height: 1.6;
}

.berriak-sarea {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2.5rem;
  max-width: 1280px;
  margin: 0 auto;
}

@media (min-width: 768px) {
  .berriak-sarea {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 1024px) {
  .berriak-sarea {
    grid-template-columns: repeat(3, 1fr);
  }
}

.albiste-txartela {
  background: white;
  border-radius: 1.5rem;
  overflow: hidden;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.05);
  border: 1px solid rgba(0, 0, 0, 0.05);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  display: flex;
  flex-direction: column;
}

.albiste-txartela:hover {
  transform: translateY(-8px);
  box-shadow: 0 20px 30px -10px rgba(0, 0, 0, 0.1);
}

.albiste-irudia img {
  width: 100%;
  height: 220px;
  object-fit: cover;
}

.albiste-edukia {
  padding: 2rem;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.albiste-kategoria {
  display: inline-block;
  background: #dcfce7;
  color: #166534;
  font-size: 0.75rem;
  font-weight: 800;
  padding: 0.3rem 1rem;
  border-radius: 9999px;
  margin-bottom: 1.25rem;
  text-transform: uppercase;
  align-self: flex-start;
}

.albiste-titulua {
  font-size: 1.4rem;
  font-weight: 700;
  color: #1f2937;
  margin-bottom: 1rem;
  line-height: 1.3;
  font-family: "Outfit", sans-serif;
}

.albiste-laburpena {
  color: #4b5563;
  font-size: 0.95rem;
  margin-bottom: 2rem;
  line-height: 1.6;
}
